html
  head
    title Damn Vulnerable Node Application
  body
    h1 Damn Vulnerable Node Application

    ul
      each vulnerability in vulnerabilities
        li
          a(href=vulnerability.path)= vulnerability.path
